button {
  background-color: transparent;
  outline: none;
  border: none;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius;
  gap: 10px;
  font-weight: bold;
  color: $text-color;
  padding: 10px 10px;
  font-size: 16px;

  * {
    color: inherit;
    text-decoration: inherit;
  }

  &.justify-left {
    justify-content: left;
    
    span {
      flex-grow: 2;
      text-align: left;
    }
  }

  &.selected {
    background-color: $background-color;
  }

  &.outline {
    color: rgb(91, 67, 203);
    border: 1.5px solid rgb(91, 67, 203);

    * {
      color: rgb(91, 67, 203);
    }
  }

  &.disabled {
    cursor: not-allowed;
    color: darken($background-color, 20%);
  }

  &:not(.disabled):hover {
    cursor: pointer;
    background-color: rgb(239, 237, 250);
    color: rgb(91, 67, 203);
  }
}